.list-item{
    list-style: none;
}

.nav-link{
    color: var(--white-text);
    text-decoration: none;
    font-size: 19px;
}

.cart-icon{
    background-color: var(--border-pink);
    padding: 2.5rem;
    border-radius: 50%;
}
