nav{
    width: 100%;
    display: flex;
    padding: 1rem;
    background-color: var(--heading);
    position: fixed;
    bottom: 0;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.relative{
    position: relative;
}

.dot-indicator {
    position: absolute;
    top: -.6rem;
    right: -.6rem;
    width: 1rem;
    aspect-ratio: 1;
    background-color: var(--background);
    border-radius: 50%;
  }